html{
    font-size: 62.5%;
}
ul{
    display: flex;
}
li{
    list-style: none;
    width: 10rem;
    margin: 0 1rem;
}
div{
    max-width: 10rem;
    height: 10rem;
}
.tous{
    border: 1px black solid;
}
.droit{
    border-right: 1px black solid;
}
.gauch{
    border-left: 1px black solid;
}
.haut{
    border-top: 1px black solid;
}
.bas{
    border-bottom: 1px black solid;
}
.droitgauch{
    border-right: 1px black solid;
    border-left: 1px black solid;
}
.droithaut{
    border-right: 1px black solid;
    border-top: 1px black solid;
}
.droitbas{
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}
.gauchhaut{
    border-left: 1px black solid;
    border-top: 1px black solid;
}
.gauchbas{
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}
.hautbas{
    border-top: 1px black solid;
    border-bottom: 1px black solid;
}
.gauchhautdroit{
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-right: 1px black solid;
}
.gauchhautbas{
    border-top: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}
.gauchdroitbas{
    border-right: 1px black solid;
    border-left: 1px black solid;
    border-bottom: 1px black solid;
}
.droithautbas{
    border-top: 1px black solid;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
}